.icon-AdvancedImporter {
	text-align: center;
}
.icon-AdvancedImporter:before {
	content: "\f03a";
}
.process-icon-save-calendar:before {
	content: "\f019";
}
.process-icon-save-calendar2:before {
	content: "\f019";
}
.process-icon-save-calendar3:before {
	content: "\f093";
}
