<?php


$_html .= '<div class="row">
    	<div class="col-lg-12">
    	<div class="row">';

$_html .= '<div class="productTabs col-lg-12 col-md-3">

						<div class="list-group">';
$_html .= '<ul class="nav nav-pills" id="navtabs16">

							    <li class="active"><a href="#welcome" data-toggle="tab" class="list-group-item"><i class="fa fa-home fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_welcome'].'</a></li>
							    <li><a href="#newssettings" data-toggle="tab" class="list-group-item"><i class="fa fa-newspaper-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_news_set'].'</a></li>
							    <li><a href="#seourlrewrite" data-toggle="tab" class="list-group-item"><i class="fa fa-link fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_seo_url_sitemap'].'</a></li>
							    <li><a href="#autoposts" data-toggle="tab" class="list-group-item"><i class="fa fa-paper-plane fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_auto_post_int'].'</a></li>
							    <li><a href="#info" data-toggle="tab" class="list-group-item"><i class="fa fa-question-circle fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_help_doc'].'</a></li>
							    <li><a href="http://addons.prestashop.com/en/2_community-developer?contributor=790166" target="_blank"  class="list-group-item"><img src="../modules/'.$this->name.'/views/img/spm-logo.png"  />&nbsp;&nbsp;'.$this->_data_translate_custom['_displayForm16_mitr_mod'].'</a></li>


							</ul>';
$_html .= '</div>
    				</div>';


$_html .= '<div class="tab-content col-lg-12 col-md-9">';
$_html .= '<div class="tab-pane active" id="welcome">'.$this->_welcome().'</div>';


$_html .= '<div class="tab-pane" id="seourlrewrite">'.$this->_urlrewrite().$this->_sitemap().'</div>';
$_html .= '<div class="tab-pane" id="newssettings">'.$this->_newssettings16().'</div>';
$_html .= '<div class="tab-pane" id="autoposts">'.$this->_autoposts16().'</div>';
$_html .= '<div class="tab-pane" id="info">'.$this->_help_documentation().'</div>';
$_html .= '</div>';



$_html .= '</div></div></div>';

echo $_html;
?>