<?php

$admin_img .= '<a href="http://www.facebook.com/profile.php?&id=' . $admin_explode . '" target="_blank">
								<img class="fb-admins" width="50"
									 src="https://graph.facebook.com/' . $admin_explode . '/picture?type=large">
							</a>';

?>