.owl_news_home_latest_news_type_carousel .owl-controls .owl-nav{
    margin-bottom:10px!important;
}

.owl_news_latest_news_type_carousel,
.block-archives17, .block-search-in-blog, .block-tags-blog
{padding:15px!important;}


.blog-post-item .other-posts p{font-size:12px!important;}




@media
only screen and (max-width: 760px) {
    .owl_news_latest_news_type_carousel{
        padding: 0px!important;
    }
}
