/* BLOCK #ec_reinsurance_block ******************************************************************** */
#ec_reinsurance_block li {
  display: inline-block;
  font-size: 14px;
  padding: 15px 10px !important;
  text-align: center;
  font-family: open sans,verdana;
}
#ec_reinsurance_block > ul > li > div {
  display: inline-block;
  font-weight: 600;
  margin: 10px auto 0;
  text-align: center;
}
#ec_reinsurance_block > ul > li img {
  display: block;
  margin: 0 auto;
  max-width: 130px;
}
#ec_reinsurance_block {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  clear: both !important;
  margin: 20px auto;
  text-align: center;
}