.ybc-form-group{
    display:none;
}
.ybc-form-group.active {
  display: block;
  text-align: left;
}
.cookie_key {
  display: block;
  margin: 10px 0 0;
}
.cookie_key span {
  background-color: #ffcfcf;
  color: #ca0101;
  font-size: 12px;
  font-style: normal;
  padding: 2px 5px;
}
.export-wapper-all {
  border: 1px solid #888888;
  clear: both;
  height: 30px;
  margin: 20px auto 0;
  max-width: 90%;
  position: relative;
  width: 100%;
}
.link_download_export:active, .link_download_export:focus {
  background-color: #03a9f3!important;
}
.link_download_export:active:hover, .link_download_export:focus:hover{
    background-color:#40c9ed!important
}
.ybc-form-group.ybc-blog-tab-step4.active {
  margin-bottom: 20px;
}
.data_export_data .ybc-form-group.ybc-blog-tab-step4.active {
    text-align: center;
}
.data_upload_button > input {
  margin: 0!important;
}
.export-wapper-percent {
  background: #03a9f3 none repeat scroll 0 0;
  height: 28px;
  transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -ms-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
#export_history strong {
  padding: 5px 5px 5px 0;
}
.export_history_content li {
  margin-bottom: 5px;
}
.dtm_history_tab_header > span {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
  float: left;
  font-weight: 600;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 14px 25px;
  text-transform: uppercase;
}
#export_history {
  clear: both;
  padding: 30px;
  position: relative;
}
#export_history table {
  background-color: #fff;
  width: 100%;
}
#export_history td {
  border-bottom: 1px solid #eaedef;
  border-top: 1px solid #eaedef;
  padding: 10px;
}
#export_history tr:first-child td{
  background: #ecf6fb;
}
#export_history tr:first-child td {
  border-bottom: 1px solid #a0d0eb;
  border-top: 1px solid #a0d0eb;
  padding-bottom: 15px;
  padding-top: 15px;
}
#export_history tr:nth-child(2n+1) {
  background-color: #fcfdfe;
}
#export_history tr:first-child td {
  font-weight: bold;
}
#module_form .popup_exporting {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.popup_exporting_table {
  display: table;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 730px;
  max-width: 94%;
}
.popup_exporting_tablecell {
  display: table-cell;
  vertical-align: middle;
}
.popup_exporting_content {
  background-color: #fff;
  font-size: 13px;
  line-height: 24px;
  padding: 40px 60px 50px;
  position: relative;
  text-align: center;
}
samp.percentage_export {
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  z-index: 1;
}
#module_form .popup_exporting.show{
    display:block;
}
.tab_step_data {
  border-bottom: 1px solid #eee;
  margin: 40px auto 40px!important;
  padding: 0 0 10px;
  text-align: center;
}
.dtm-right-block .form-wrapper {
  font-size: 15px;
}
.data-to-export > div {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}
.list-data-to-export > li,
.list-data-to-import > li,
.data-format-to-import > li,
.data-format-to-import ul li {
  font-size: 14px;
  line-height: 26px;
  list-style: outside none none;
  position: relative;
}
.list-data-to-export,
.list-data-to-import,
.data-format-to-import,
.data-format-to-import ul {
  margin: 0;
  padding: 0;
}
.list-data-to-export > li::before,
.list-data-to-import > li:before,
.data-format-to-import > li:before,
.data-format-to-import ul li:before {
  background-color: #666;
  border: 1px solid #666;
  content: "";
  display: inline-block;
  height: 5px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
  width: 5px;
}
.data_number_step {
  color: #363a41;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  list-style: outside none none;
  padding-bottom: 25px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
.data-format-to-import > ul {
  margin-bottom: 10px;
}
.data-format-to-import > div {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}
.ybc-form-group.ybc-blog-tab-step5.active {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}
.list-data-to-imported {
  list-style: outside none none;
  padding: 0;
}
.list-data-to-imported li::before{
  content: "\f00c";
  font-family: FontAwesome;
  margin-right: 1px;
  color: #14b719;
  font-size: 12px;
}
.bootstrap .list-data-to-imported-history {
  margin-top: 15px;
}
.bootstrap .import_title_step5 {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 25px;
}
.ybc-form-group.ybc-blog-tab-step5.active .link_download_export {
  text-decoration: underline;
}
.ybc-form-group.ybc-blog-tab-step5.active .link_download_export:hover, .ybc-form-group.ybc-blog-tab-step5.active .link_download_export:active, .ybc-form-group.ybc-blog-tab-step5.active .link_download_export:focus {
  background: transparent none repeat scroll 0 0;
}
.link_download_export {
  background-color: #00aff0;
  border-radius: 3px;
  color: #fff!important;
  display: inline-block;
  line-height: 24px;
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 10px;
}
.link_download_export:hover {
  background: #40c9ed none repeat scroll 0 0;
  text-decoration: none!important;
}
#data-master > h2 {
  color: #363a41;
  font-size: 35px;
  font-weight: 600;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.dtm-right-block .panel-heading {
  color: #363a41!important;
  font-size: 16px!important;
  height: auto!important;
  padding: 5px 10px!important;
}
.dtm-left-block a i {
  margin-right: 3px;
}
.export > a, .import > a {
  background-color: #03a9f3;
  color: #fff;
  display: inline-block;
  margin-bottom: 25px;
  padding: 5px 15px;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.export > a:hover, .import > a:hover {
  background: #40c9ed none repeat scroll 0 0;
  color: #fff;
  text-decoration: none;
}
.data_upload_button_wrap > input#file_import {
  cursor: pointer;
  height: 32px;
  max-width: 100%;
  opacity: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
.data_upload_button_right i {
  font-size: 11px;
  margin-right: 2px;
  vertical-align: 2px;
}
.data_import_data select {
  max-width: 100%;
  width: 320px;
}
.required {
  color: red;
  font-weight: normal;
}
.data_upload_button {
  background-color: #eeeeee;
  border-radius: 3px;
  float: right;
  height: 32px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.data_upload_button_right {
  background-color: #00aff0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  float: right;
  font-size: 12px;
  height: 31px;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  right: -1px;
  top: 0;
}
.data_upload_button_wrap {
  position: relative;
}
.export > a:before {
  content: "\f019";
  font-family: FontAwesome;
  margin-right: 7px;
}
#data-master li {
  list-style: outside none none;
  margin-bottom: 7px;
}
#data-master > p {
  margin-bottom: 60px;
}
.dtm-left-block a {
  border-bottom: 1px solid #ddd;
  color: #333;
  display: block;
  padding: 14px 15px;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.dtm-right-block a:focus,
.dtm-right-block a:active,
.dtm-left-block a:focus,
.dtm-left-block a:hover,
.dtm-left-block a:active,
.dtm-right-block button:focus,
.dtm-right-block button:hover,
.dtm-right-block button:active,
.dtm-left-block button:focus,
.dtm-left-block button:hover,
.dtm-left-block button:active{
    text-decoration: none!important;
    outline: none!important;
}
.dtm-right-block button:focus:not(:hover),
.dtm-left-block button:focus:not(:hover){
    background: #ffffff!important;
}



.help-block {
  font-size: 14px;
}
.bootstrap .form-horizontal .control-label {
  font-size: 15px!important;
}

.dtm-left-block a:hover {
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
}
.dtm-left-block ul {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dtm-left-block li:last-child a {
  border: medium none;
}
.dtm-left-block {
  float: left;
  margin-top: 40px;
  position: relative;
  width: 250px;
}

#data-master, #data-master * {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.import > a::before {
  content: "\f0ee";
  font-family: FontAwesome;
  margin-right: 6px;
}
#data-master .export li::before, #data-master .import li::before {
  content: "\f0a4";
  font-family: FontAwesome;
  margin-right: 7px;
}
.ybc-blog-tab-step1 .control-label {
  font-size: 14px!important;
  font-weight: 600!important;
  margin-bottom: 12px!important;
}
.ybc-blog-tab-step1 .checkbox {
  padding-top: 5px!important;
}
.data_number_step > span {
  background-color: #03a9f3;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-right: 6px;
  width: 22px;
}
.data_number_step.active {
  color: #03a9f3;
}
.data_number_step:not(:last-child)::after {
  content: ">";
  margin: 0 8px;
}
#export_history,
#import_history {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}
.panel .panel-heading {
  text-align: left;
}
.panel {
  text-align: center;
}
.form-wrapper {
  display: inline-block;
  font-size: 13px;
  margin: 0 auto;
  max-width: 100%;
  text-align: left;
}
.export {
  border-right: 1px solid #ddd;
  display: inline-block;
  float: left;
  padding-left: 5%;
  padding-right: 50px;
  vertical-align: top;
  width: 50%;
  text-align: left;
}
.import {
  border: 1px solid transparent;
  display: inline-block;
  float: left;
  margin-left: 0;
  padding-left: 8%;
  text-align: left;
  width: 50%;
}
#data-master {
  border: 1px solid #ddd;
  border-radius: 5px;
  float: left;
  padding: 40px 90px 50px;
  background-color: #fff;
  text-align: center;
  width: 100%;
}
.import-wrap-title{
    display: block;
    float: left;
    width: 100%;
    position: relative;
    padding: 0px 0 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.dtm_history_tab_header {
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  width: 100%;
}
.dtm_history_tab_header > span:first-child {
  border-top-left-radius: 5px;
}

.import-title {
  float: left;
  font-size: 18px !important;
  margin: 0;
  text-transform: uppercase;
}
.clearfix{
    clear: both;
}
#basicUsageClock{
    float: right;
}

.panel.data_tab_help ul:last-child li::before {
  background-color: #666;
  content: "";
  display: inline-block;
  height: 5px;
  margin-right: 7px;
  vertical-align: 2px;
  width: 5px;
}
.panel.data_tab_help ul:last-child {
  list-style: outside none none;
}
.panel.data_tab_help h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
}
.data_tab_help {
  line-height: 28px;
  text-align: left;
}
.panel.data_tab_help ul {
  list-style: outside none none;
  padding: 0;
}
/* CHUNG CSS*/
.upload-sussecfully {
  text-align: center;
}
.upload-sussecfully span{
    color: #00aff0;
    cursor: pointer;
}
#module_form .popup_uploading {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10000;
}
.popup_uploading_table {
  display: table;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 94%;
  width: 730px;
}
.popup_uploading_tablecell {
  display: table-cell;
  vertical-align: middle;
}
.popup_uploading_content {
  background-color: #fff;
  font-size: 13px;
  line-height: 24px;
  padding: 25px 25px;
  position: relative;
  text-align: center;
}
.change_data_import {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
}
.change_data_import:hover {
  text-decoration: underline;
}
.data_import_data .alert-warning.alert {
  font-size: 13px;
  width: 600px!important;
  max-width:  100%;
  text-align: left;
}
.data_import_data .ybc-blog-tab-step5 .alert-warning.alert {
  width: 100%!important;
}
.bootstrap .alert.alert-success, .bootstrap #carrier_wizard .alert-success.wizard_error {    padding-left: 60px!important;
}
.popup_importing .popup_uploading_table {
  margin-bottom: 20px;
  max-width: 96%;
  width: 900px;
}
.alert {
  max-width: 100%;
}
.data_import_data .popup_importing .alert-warning.alert::before {
  display: none;
}
.data_import_data .popup_importing .alert-warning.alert {
  padding-left: 15px;
}
.data_import_data .alert-warning.alert::before {
  margin-left: 1px;
  margin-top: -2px;
}
.data_import_data .checkbox input {
  opacity: 0;
  position: relative;
  z-index: 1;
}
.data_checkbox_style {
  background-color: #fff;
  border: 1px solid #666;
  display: inline-block;
  height: 14px;
  margin-left: -20px;
  margin-right: 5px;
  margin-top: 2px;
  position: relative;
  vertical-align: -1px;
  width: 14px;
}
.data_checkbox_style i {
  color: #03a9f3;
  display: none;
  float: left;
  font-size: 12px;
  line-height: 11px;
}
.dtm-right-block, .dtm-right-block *, .dtm-right-block *:before, .dtm-right-block *:after {
  box-sizing: border-box;
}
input:checked + .data_checkbox_style i {
  display: block;
}
.data_import_data .ybc-blog-tab-step2 .checkbox > label {
  font-size: 14px;
}

#module_form .popup_uploading.show {
  opacity: 1;
  visibility: visible;
}
#module_form .popup_importing {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 10000;
}
.popup_importing_table {
  display: table;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 730px;
}
.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 1;
}
.data_tab_clearup .alert {
  text-align: left;
}
.data_tab_clearup ul{
    list-style: none;
    padding: 0;
}
.popup_importing_tablecell {
  display: table-cell;
  vertical-align: middle;
}
.popup_importing_content {
  background-color: #fff;
  font-size: 13px;
  line-height: 24px;
  padding: 40px 60px 30px;
  position: relative;
  text-align: center;
}

#module_form .popup_importing.show {
  opacity: 1;
  overflow: auto;
  padding: 20px 0;
  visibility: visible;
}
.import-wapper-all {
  border: 1px solid #333;
  display: inline-block;
  height: 28px;
  margin: 0px auto 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.import-wapper-percent {
  background: #03a9f3 none repeat scroll 0 0;
  height: 28px;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  width: 0%;
}
.data-importing-content{
    float: left;
    width: 250px;
    padding-right: 15px;
    overflow: hidden;
}
.import-wapper-block-3{
    float: left;
    width: calc(100% - 250px);
    width: -o-calc(100% - 250px);
    width: -ms-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
}
.data-exporting-content {
  margin-top: 30px;
}
.one-line{
    width: auto!important;
}
#block_form_clear_message button#submit_clear_history {
  margin-top: 10px;
}
#block_form_clear_message button#submit_clear_history::before {
  content: "\f014";
  font-family: Fontawesome;
  margin-right: 5px;
  line-height: 24px;
}
.data_tab_clearup > div {
  padding: 20px 0 15px;
}
.percentage_import, .percentage_export {
  display: block;
  margin-bottom: 10px;
  margin-top: 2px;
  text-align: left;
}
.upload-wapper-all {
  border: 1px solid #333;
  display: inline-block;
  height: 30px;
  margin: 10px auto 0;
  position: relative;
  width: 90%;
}
.upload-wapper-percent {
  background: #03a9f3 none repeat scroll 0 0;
  height: 28px;
  width: 0%;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.dtm_history_tab.active {
  color: #00aff0;
}
.tab_content {
    display: none;
}
.tab_content.active {
    display: block;
    width: 100%;
}
#import_history strong {
  padding: 5px;
}
#import_history table {
  background-color: #fff;
  width: 100%;
}
#import_history td {
  border-bottom: 1px solid #eaedef;
  border-top: 1px solid #eaedef;
  padding: 10px;
}
#import_history tr:first-child td{
  background: #ecf6fb;
}
#import_history tr:first-child td {
  border-bottom: 1px solid #a0d0eb;
  border-top: 1px solid #a0d0eb;
  padding-bottom: 15px;
  padding-top: 15px;
}
#import_history tr:nth-child(2n+1) {
  background-color: #fcfdfe;
}
#import_history tr:first-child td {
  font-weight: bold;
}
.dtm-right-block {
  box-sizing: border-box;
  float: left;
  margin-left: -1px;
  margin-top: 40px;
  padding: 0 15px 30px;
  font-size: 15px;
  width: calc(100% - 250px);
  width: -o-calc(100% - 250px);
  width: -ms-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
}
.dtm-left-block a:focus, .dtm-left-block a:active {
  color: #333;
  outline: medium none;
  text-decoration: none;
}
.dtm-left-block a.active,
.dtm-left-block li.active a{
    background: #00aff0;
    color: #ffffff;
}
#data-master ul {
  margin: 0;
  padding: 0;
}
.dtm-clearfix {
  clear: both;
}
.list-data-to-importing {
  list-style: outside none none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 320px;
}
.list-data-to-importing li.active {
  color: #333!important;
}
.list-data-to-importing li.active::before {
  content: "\f00c";
  font-family: FontAwesome;
  color: rgb(146, 208, 151);
}
.list-data-to-imported > li {
  margin-bottom: 6px;
}
.import_history_content li, .export_history_content {
  font-size: 13px;
  margin: 3px 0;
}
.import_history_content a, .import_history_content, .export_history_content, .export_history_content a {
  font-size: 13px;
}
.import_history_content a {
  line-height: 26px;
  margin-bottom: 0;
}
.import_history_content ul,
.export_history_content ul {
  list-style: outside none none;
  padding: 0;
}
.import_history_content li::before,
.export_history_content li::before {
  background-color: #666;
  content: "";
  display: inline-block;
  height: 5px;
  vertical-align: 3px;
  width: 5px;
}
.list-data-to-importing li::before {
  border-bottom: 5px solid transparent;
  border-left: 5px solid #999;
  border-radius: 2px;
  border-top: 5px solid transparent;
  content: "";
  display: inline-block;
  margin-right: 3px;
  vertical-align: 0;
}
.list-data-to-importing li.process::before {
  border-left-color: #40c9ed;
}
.list-data-to-importing li.process{
    color: #40c9ed;
}
.list-data-to-importing li.active::before {
  border: medium none;
}
.list-data-to-importing li.process:not(.active) .wait_import,
.list-data-to-importing .active > .wait_import, .list-data-to-importing .active .process_import,
.list-data-to-importing li:not(.active):not(.process) .process_import {
  display: none;
}
#basicUsageClock {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
}
.import-wapper-all .running {
  font-size: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  font-weight: 600;
  z-index: 1;
  
}
.list-data-to-importing li{
    max-width: 100%;
    color: #999;
}
.link_download_plugin {
 font-size: 14px;
}
.module_error.alert.alert-danger > li {
  list-style: outside none none;
  text-align: left;
}
.continue_importing {
  color: blue;
  cursor: pointer;
}
.file_url {
  color: blue;
}
.percentage_export_table {
  display: inline-block;
}
.import_history_content td > a {
  display: block;
}
.suggested_solutions > li {
  list-style: outside none disc;
}
.ybc-form-group.connector_error.active {
  line-height: 22px;
}
.ybc-form-group.import_error.active {
  line-height: 22px;
}
/*END CHUNG CSS*/

@media (max-width: 1199px){
    .export {
      border-right: medium none;
      margin-bottom: 30px;
      padding-left: 5%;
      padding-right: 20px;
      width: 100%;
    }
    .import {
      border-left: medium none navy;
      margin-left: 0;
      padding-left: 5%;
      padding-right: 20px;
      width: 100%;
    }
}
@media (max-width: 991px){
    #data-master {
      padding: 40px 30px 50px;
    }
}

@media (max-width: 767px){
    .dtm-right-block {
      margin-top: -1px;
      padding: 0;
      width: 100%!important;
      margin-left: 0;
    }
    .dtm-left-block ul {
      border-radius: 0;
    }
    .dtm-left-block li {
      float: left;
    }
    .dtm-left-block a {
      border: medium none;
    }
    .popup_exporting_content {
      padding: 40px 30px 50px;
      
    }
    .dtm-left-block {
      width: 100%!important;
    }
    .dtm-right-block .panel {
      border-radius: 0;
    }
    .data_number_step {
      padding-bottom: 10px;
    }
    .data_number_step > span {
      background-color: #03a9f3;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      height: 16px;
      line-height: 16px;
      margin-right: 6px;
      width: 16px;
    }
    .tab_step_data{
        margin-top: 0;
    }
}



.noTrespassingOuterBarG{
	height:100%;
	width:100%;
	overflow:hidden;
	margin:auto;
    position: absolute;
    left: 0;
    top: 0;
}

.noTrespassingBarLineG {
  background-color: rgba(225, 225, 225, 0.3);
  float: left;
  height: 300px;
  margin-right: 24px;
  margin-top: -77px;
  transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  width: 10px;
}
.noTrespassingAnimationG{
	width:auto;
    float: left;
    display: flexbox;
        display: -o-flexbox;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -webkit-flexbox;
    display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
    transform: translateX(-150px);
        -o-transform: translateX(-150px);
        -ms-transform: translateX(-150px);
        -webkit-transform: translateX(-150px);
        -moz-transform: translateX(-150px);
	animation-name:noTrespassingAnimationG;
		-o-animation-name:noTrespassingAnimationG;
		-ms-animation-name:noTrespassingAnimationG;
		-webkit-animation-name:noTrespassingAnimationG;
		-moz-animation-name:noTrespassingAnimationG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
}



@keyframes noTrespassingAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:105px;
	}
}

@-o-keyframes noTrespassingAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:105px;
	}
}

@-ms-keyframes noTrespassingAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:105px;
	}
}

@-webkit-keyframes noTrespassingAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:105px;
	}
}

@-moz-keyframes noTrespassingAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:105px;
	}
}
