@CHARSET "utf-8";

.pages { height:15px; font-size:100%; margin-top:20px; line-height:1.2em;text-align:center }
.pages span, .pages b, .pages a { font-weight:bold; }
.pages a{color:#fff}
.pages span { padding:1px 8px 2px 0; }
.pages span.nums { padding:0 10px 0 5px; }
.pages span.nums b, .pages span.nums a { padding:0px 4px 1px; background:#ccc; text-decoration:none; margin-right:4px; }
.pages span.nums a:hover { background: #F7B900; color:#fff; }
.pages span.nums b { color:#fff; background:#F7B900}

.blocknewsadv-list h3 a{text-decoration:underline!important}
.blocknewsadv-time{font-size:11px!important;color:#5D717E!important}
	
	
.blocnewsadv-header{background: none repeat scroll 0 0 #F0F0F0;color: #000000;font-size: 12px;margin: 15px 0 10px;padding: 8px 7px;}
.blocnewsadv-noitems{padding:10px;text-align:center;font-weight:bold;border:1px solid #EEEEEE}

.blocnewsadv-view-all{margin:10px auto 0px auto;text-align:center}
.block-items-data td a{background:none!important;padding:5px!important}
.blocknewsadv-date{padding:0 5px 5px 5px}
.block-last-blocknewsadvs h4{text-align:center}
.items-last-blocknewsadvs table td a{background:none!important;padding:5px!important}
.blocknewsadv-title-and-content{padding:5px 5px 5px 0}
.blocknewsadv-block-noitems{padding:10px;text-align:center;border:1px solid #EEEEEE}


.blocknewsadv-float-left{float:left}
.blocknewsadv-float-right{float:right}
.blocknewsadv-clear{clear:both}