

.reviewsadv-content div.menu-content{
	border: 1px solid #CCCCCC;
    margin: 10px 5px 0;
    padding: 10px;
}

.reviewsadv-content h3.title-block-content{
	margin-top:5px;
	font-size:1.25em;
	color:#E8871E;
}

.reviewsadv-menu{width:25%;
			 float:left;
			 padding:5px}

ul.leftMenu  {
	font-size:12px;
    list-style: none outside none;
    margin: 1px 0 0;
    padding: 0 0 16px;
}

.ps15-width{/*width: 100%; margin: 0px auto;*/}

ul.leftMenu li {
    padding: 0;
	float:left;
   
}

ul.leftMenu li a {
      border: 1px solid #CCCCCC;
    display: block;
    font-size: 110%;
    font-weight: bold;
	margin: 0 5px;
    padding: 10px;
	margin-top:5px;
}
ul.leftMenu li a.selected{ 
	background-color:#F4E6C9;
}


.pages { height:15px; font-size:100%; margin-top:20px; line-height:1.2em; }
.pages span, .pages b, .pages a { font-weight:bold; }
.pages a{color:#fff}
.pages span { padding:1px 8px 2px 0; }
.pages span.nums { padding:0 10px 0 5px; }
.pages span.nums b, .pages span.nums a { padding:0px 4px 1px; background:#ccc; text-decoration:none; margin-right:4px; }
.pages span.nums a:hover { background: #F7B900; color:#fff; }
.pages span.nums b { color:#fff; background:#F7B900} 
