<?php


$_html = '';

$_html .= '<div class="panel">

				<div class="panel-heading"><i class="fa fa-tasks fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_cronhelp_cron_help'].'</div>';




$_html .= '<p class="hint clear" style="display: block; font-size: 12px; width: 95%;position:relative">';

$_html .= '<b>';
$_html .= $this->_data_translate_custom['_cronhelp_conf_2_possibl'];
$_html .= '</b>';
$_html .= '<br/><br/><br/>';
$_html .= '<b>1.</b> '.$this->_data_translate_custom['_cronhelp_enter_url_in_browser'];
$_html .= '<b>'.$url_cron.'</b>';
$_html .= '<br/><br/><br/>';
$_html .= '<b>2.</b> '.$this->_data_translate_custom['_cronhelp_set_cron_task'];
$_html .= '<br/><br/>';
$_html .= $this->_data_translate_custom['_cronhelp_every_hour'].':&nbsp;&nbsp;&nbsp; <b>* */1 * * * /usr/bin/wget -O - -q '.$url_cron.'</b>';
$_html .= '<br/><br/><br/>';
$_html .= '<b>'.$this->_data_translate_custom['_cronhelp_hot_to_conf'].'</b>';
$_html .= '<br/><br/>';
$_html .= $this->_data_translate_custom['_cronhelp_on_your_serv'];
$_html .= '<br/>';
$_html .= $this->_data_translate_custom['_cronhelp_about_cron'].'&nbsp;&nbsp;&nbsp;<a href=http://en.wikipedia.org/wikimg/Cron target=_blank>http://en.wikipedia.org/wikimg/Cron</a>';
$_html .= '</p>';



$_html .= '</div>';

echo $_html;

?>