<?php


$_html = '';
$_html .= '<form method="post" action="'.Tools::safeOutput($_SERVER['REQUEST_URI']).'">';
$_html .= '<input type="hidden" value="1" name="sitemapsettings"/>';

$_html .= '<div class="panel">

                    <div class="panel-heading"><i class="fa fa-sitemap fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_sitemap_sitemap'].'</div>';


$_html .= '

                    <b>'.$this->_data_translate_custom['_sitemap_cron_url'].'</b>:&nbsp;
                    <a target="_blank" href="'.$newssitemap_url.$is_rewrite.'token='.$this->_token_cron.'"
                        style="text-decoration:underline;font-weight:bold">
                        '.$newssitemap_url.$is_rewrite.'token='.$this->_token_cron.'
                        </a>

                         <br/><br/><br/><br/>';

$_html .= '<input type="submit" value="'.$this->_data_translate_custom['_sitemap_regenerate_g_sitemap'].'" name="submitsitemap"
                                class="'.(version_compare(_PS_VERSION_, '1.6', '>')?'btn btn-primary pull':'button').'"/>';


$_html .= ' &nbsp; <a target="_blank" style="text-decoration:underline;font-weight:bold" ';
if($this->_is_cloud){
    $_html .= 'href="'._PS_BASE_URL_.__PS_BASE_URI__.'modules/'.$this->name.'/upload/news.xml"';
} else {
    $_html .= 'href="'._PS_BASE_URL_.__PS_BASE_URI__.'upload/'.$this->name.'/news.xml"';
}
$_html .= '>';
if($this->_is_cloud){
    $_html .=	''._PS_BASE_URL_.__PS_BASE_URI__.'modules/'.$this->name.'/upload/news.xml';
} else {
    $_html .=	''._PS_BASE_URL_.__PS_BASE_URI__.'upload/'.$this->name.'/news.xml';
}
$_html .=	'</a>';

$_html .= '</p>';




$_html .= '<br/><br/><p>
                            '.$this->_data_translate_custom['_sitemap_to_declare'].': <br><br>
							  <code>
								Sitemap ';
if($this->_is_cloud){
    $_html .= ''._PS_BASE_URL_.__PS_BASE_URI__.'modules/'.$this->name.'/upload/news.xml';
} else {
    $_html .= ''._PS_BASE_URL_.__PS_BASE_URI__.'upload/'.$this->name.'/news.xml';
}


$_html .= '</code>
                            </p>
                ';





$_html .= '</div>';


$_html .= '</form>';

echo $_html;

?>