<?php
$res = '';
$product_count = $count;

$delimeter_rewrite = "&";
if(Configuration::get('PS_REWRITING_SETTINGS')){
    $delimeter_rewrite = "?";
}

$res .= '<div class="pages" id="page_nav">';
if($_admin){
    $data_translate = $this->getTranslateText();
    $res .= '<span>'.$data_translate['page'].':</span>';
}
$res .= '<span class="nums">';
$start1 = $start;
for ($start1 = ($start - $step*4 >= 0 ? $start - $step*4 : 0); $start1 < ($start + $step*5 < $product_count ? $start + $step*5 : $product_count); $start1 += $step)
{
    $par = (int)($start1 / $step) + 1;
    if ($start1 == $start)
    {
        $res .= '<b>'. $par .'</b>';
    }
    else
    {
        if($_admin){
            $currentIndex = $_data['currentIndex'];
            $token = $_data['token'];
            $item = $_data['item'];
            $res .= '<a href="'.$currentIndex.'&page'.$item.'='.($start1 ? $start1 : 0).$token.'" >'.$par.'</a>';
        } else {
            /*$res .= '<a href="javascript:void(0)" onclick="go_page_news( '.($start1 ? $start1 : 0).' )">'.$par.'</a>';*/
            if(Tools::strlen($all_items)>0){

                if($is_search == 1){
                    // search //
                    $search = isset($_data['search'])?$_data['search']:'';

                    if(Configuration::get($this->_name.'rew_on')==1) {

                        $items_url = $data_url['news_url'];
                        //if(version_compare(_PS_VERSION_, '1.6', '<')) {
                        $p = ($start1 ? '?p='.$par.'&' : '?').'search='.$search;
                        /*} else {
                            $p = ($start1 ? '/' . $par : '') . '?search=' . $search;
                        }*/

                    } else {

                        $items_url = $data_url['news_url'];
                        $p = ($start1 ? $delimeter_rewrite.'p='.$par.'&' : $delimeter_rewrite).'search='.$search;

                    }

                    $res .= '<a href="'.$items_url.$p.'" >'.$par.'</a>';
                    // search //


                } elseif($is_arch == 1){

                    // posts archive ///
                    if(Configuration::get($this->_name.'rew_on')==1) {

                        $items_url = $data_url['news_url'];
                        //if(version_compare(_PS_VERSION_, '1.6', '<')) {
                        $p = ($start1 ? '?p='.$par.'&' : '?').'y='.$year.'&m='.$month;
                        /*} else {
                            $p = ($start1 ? '/' . $par : '') . '?y=' . $year . '&m=' . $month;
                        }*/

                    } else {

                        $items_url = $data_url['news_url'];
                        $p = ($start1 ? $delimeter_rewrite.'p='.$par.'&' : $delimeter_rewrite).'y='.$year.'&m='.$month;

                    }

                    $res .= '<a href="'.$items_url.$p.'" >'.$par.'</a>';
                    // posts archive ///


                }else {
                    // all posts page
                    if(Configuration::get($this->_name.'rew_on')==1) {

                        $items_url = $data_url['news_url'];
                        //if(version_compare(_PS_VERSION_, '1.6', '<')) {
                        $p = ($start1 ? '?p='.$par : '');
                        /*} else {
                            $p = ($start1 ? '/'.$par : '');
                        }*/


                    } else {

                        $items_url = $data_url['news_url'];
                        $p = ($start1 ? $delimeter_rewrite.'p='.$par : '');

                    }

                    $res .= '<a href="'.$items_url.$p.'" title="'.$par.'">'.$par.'</a>';
                    // all posts page
                }

            }
        }
    }
}

$res .= '</span>';
$res .= '</div>';

echo $res;
?>