<div id="idTabCU66">

{foreach from=$youtubetabsdata item=item name=myLoop}

	{foreach from=$item item=items name=myLoop}
<div class="youtubetabs-tab">
	
<iframe width="{$youtubetabswidth}" 
	    height="{$youtubetabsheight}" 
	    src="http://www.youtube.com/embed/{$items.youtube_id}?theme={$youtubetabscolor_schema}&rel=0&autohide=0&showinfo=0&controls=1&autoplay=0&start=0" 
	    frameborder="0" allowfullscreen></iframe>
	    
<div class="youtubetabs-tab-title">{$items.title}</div>
</div>
	{/foreach}
			    	
{/foreach}

</div>